!!!
%html
  %head
    %title= @title
    %link{ :rel => 'stylesheet', :media => 'all', :type => 'text/css', :href => 'style' }
  %body
    #wrapper
      #title
        %h1= @title
      #version= "Version #{@version}"
      #content
        #summary= @summary
      #footer
